<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Remove account</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div align="center">

        <div align="center" class="border">

            <div class="header">
                <h1 class="word">Remove_account</h1>
            </div>
            </br></br></br>

            <h2 class="word">
                <form action="{{ url_for('remove_account') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <input type="submit" class="btn" value="Remove"></br></br>
                </form>
            </h2>

            <p class="bottom">Don't have an account? &nbsp<a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>

        </div>

    </div>
</body>

</html>



<!-- Store this code in 'login.html' file inside the 'templates' folder -->
 

<html>

    <head>

        <meta charset="UTF-8">

        <title> Delete account </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">           

    </head>

    <body></br></br></br></br></br>

        <div align="center">

          <div align="center" class="border">

             <div class="header">

                <h1 class="word">Delete_account</h1>

             </div></br></br></br>

            <h2 class="word">

                <form action="{{ url_for('delete_account') }}" method="post">

                  <div class="msg">{{ msg }}</div>

                    <input id="passport" name="passport" type="passport" placeholder="Enter Your Passport" class="textbox"/></br></br></br>

                    <input type="submit" class="btn" value="Delete"></br></br>

                </form>

            </h2>

            <p class="bottom">Don't have an account? &nbsp<a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>

          </div>

        </div>

    </body>

</html>